@page "/"

<link rel="stylesheet" href="~/css/index.css"/>
<body>

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div class="layout-grid-container character" >
	<!-- left player box -->
	<div class="character-grid-container layout-left">
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>@characterName</h3>
		</div>
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>Samus</h3>
		</div>
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>Samus</h3>
		</div>
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>Samus</h3>
		</div>
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>Samus</h3>
		</div>

	</div>

	<!-- Center options box -->
	<div class="options">
		<EditForm Model="@demo" OnValidSubmit="@HandleValidSubmit">
			<label>
				Test
				<InputNumber id="vetoNumber" @bind-Value="demo.DemoInt"/>
			</label>

			<button type="submit">Generate Teams</button>
		</EditForm>

	</div>

	<!-- right player box -->
	<div class="character-grid-container layout-right">
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>@characterName</h3>
		</div>
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>Samus</h3>
		</div>
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>Samus</h3>
		</div>
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>Samus</h3>
		</div>
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>Samus</h3>
		</div>
		<div class="character-grid-item">
			<img src="images/terry.png" alt="Terry Bogard" /><br />
			<h3>Samus</h3>
		</div>
	</div>
</div>


<button @onclick="SelectRandomCharacter">Get Random Char</button>

Welcome to your new app.

</body>
@code{
	string characterName = "Mr. Game and Watch";
	string[] characterNames = { "Mr Game and Watch", "Fox", "Marth", "Falco", "Palutena" };

	DemoClass demo = new();

	Random rand = new Random();

	private void SelectRandomCharacter()
	{
		characterName = characterNames[rand.Next(0, 5)];
	}
	private void HandleValidSubmit()
	{
		Console.WriteLine("Valid submit");
	}


	class DemoClass
	{
		public int DemoInt { get; set; }
	}
}