.character img {
    display:block;
    margin:auto;
    padding:10px;
    width:100px;
    height:100px;
}

.character h3{
    font-size:20px;
}

.character-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding: 10px;
    background-color:black;
}

.character-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    width: auto;
    height: 180px;
}

.layout-grid-container{
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
}

.layout-left{
    grid-column: 1;
}

.layout-right{
    grid-column: 3;
}

.layout-bottom{
    grid-row: 9999;
}

.options{
    font-size:20px;
    grid-column: 2;
    text-align:center;
}

.options-input {
    text-align:center;
    width: 20%;
    background-color: greenyellow;
}

.options-input::-webkit-outer-spin-button,
.options-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.options-input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


body {
    font-family: 'Times New Roman', Times, serif
}

.page-layout-container {
    display:grid;
}

.page-layout-header{

}

.page-layout-content{

}

.page-layout-footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: grey;
    text-align:center;
}