<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                <p>@generatedCharacter.CharacterName</p>
                <img src="images/terry.png" alt="terry"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@ModalAcceptCharacter">OK</button>
                <button type="button" class="btn btn-primary">Veto</button>
                <button type="button" class="btn btn-primary">ReRoll</button>

            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<Character> Characters { get; set; }

    [Parameter]
    public Character generatedCharacter { get; set; }

    [Parameter]
    public TeamGeneration TeamGenerator { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private Task ModalCancel()
    {
        Console.WriteLine("Cancel");
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        Console.WriteLine("DELETE");
        return OnClose.InvokeAsync(true);
    }

    private Task ModalAcceptCharacter()
    {
        Console.WriteLine("Accepted");
        Characters.Add(new Character(){CharacterName=generatedCharacter.CharacterName});
        TeamGenerator.poolOfCharacters.Remove(TeamGenerator.poolOfCharacters.Where(o  => o.CharacterName == generatedCharacter.CharacterName).First());
        return OnClose.InvokeAsync(true);
    }

    private Task ModalVetoCharacter()
    {
        Console.WriteLine("Vetoed");
        return OnClose.InvokeAsync(true);
    }

    private Task ModalReRollCharacter()
    {
        Console.WriteLine("ReRoll");
        return OnClose.InvokeAsync(true);
    }
}
