.modal-body {
    align-content:center;
    text-align:center;
    margin:auto;
}

.modal-body h3 {
    padding: 0px;
    margin: 0px;
}

.modal-body h4{
    font-size:20px;
    padding: 0px;
    margin: 0px;
}

.modal-header h4{
    text-align:center;
}